---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */
#avatar,
#avatar img {
  border-radius: 0 !important;
}

// body {
//   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
//     Ubuntu, Cantarell, sans-serif;
// }

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Ubuntu, Cantarell, 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

#sidebar {
  background-color: #450693;
}

#sidebar .site-title {
  color: #c9146e;
}

#sidebar .site-subtitle {
  color: #ddd2d8;
}

#sidebar ul li.nav-item a.nav-link {
  color: #ddd2d8;
}
